In [2]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
df = pd.read_csv('none-3623.csv')

# Display the first few rows
print(df.head())

       time  channel: 1  channel: 2  channel: 3
0  0.000000   -0.738737   -0.298374   -0.948410
1  0.044721   -0.808222   -0.379338   -1.026828
2  0.089443   -0.937519   -0.169406   -0.713158
3  0.134164   -1.136301   -0.393670   -0.924332
4  0.178885   -0.542336   -0.318448   -1.123421

In [3]:
df = df.rename(columns={
    'DL(+)3.623m': 'time',
    'channel: 1': 'ch.1',
    'channel: 2': 'ch.2',
    'channel: 3': 'ch.3'
})

print(df.head())

       time      ch.1      ch.2      ch.3
0  0.000000 -0.738737 -0.298374 -0.948410
1  0.044721 -0.808222 -0.379338 -1.026828
2  0.089443 -0.937519 -0.169406 -0.713158
3  0.134164 -1.136301 -0.393670 -0.924332
4  0.178885 -0.542336 -0.318448 -1.123421

In [4]:
df = df.rename(columns=str.lower)

print(df.columns)

Index(['time', 'ch.1', 'ch.2', 'ch.3'], dtype='object')

In [5]:
df.head()

       time      ch.1      ch.2      ch.3
0  0.000000 -0.738737 -0.298374 -0.948410
1  0.044721 -0.808222 -0.379338 -1.026828
2  0.089443 -0.937519 -0.169406 -0.713158
3  0.134164 -1.136301 -0.393670 -0.924332
4  0.178885 -0.542336 -0.318448 -1.123421

In [6]:
df.to_csv('none-3623.csv', index=False)

In [1]:
# import pandas as pd

# # Replace 'your_file.csv' with the path to your CSV file
# df = pd.read_csv('013-3623.csv', nrows=100)

# # Display the first few rows
# print(df.head())

# df.to_csv('013-3623-truncated.csv', index=False)

       time      ch.1      ch.2      ch.3
0  0.000000 -0.424945 -0.524852  0.415259
1  0.044721  0.099924 -0.182229  0.587047
2  0.089443 -0.610742 -0.867476  0.398076
3  0.134164  0.085987  0.458868  0.060192
4  0.178885 -0.359935 -0.723835  0.335074