In [28]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
df = pd.read_csv('none-4831.csv')

# Display the first few rows
print(df.head())

   dl(+)4.831m  channel: 1  channel: 2  channel: 3
0     0.000000   -1.210622   -0.359998   -1.259082
1     0.044721   -0.851296   -0.304116   -1.090161
2     0.089443   -0.959094   -0.218856   -1.443087
3     0.134164   -1.007004   -0.147195   -0.885077
4     0.178885   -0.942355   -0.266126   -0.815747

In [29]:
df = df.rename(columns={
    'dl(+)4.831m': 'time',
    'channel: 1': 'ch.1',
    'channel: 2': 'ch.2',
    'channel: 3': 'ch.3'
})

print(df.head())

       time      ch.1      ch.2      ch.3
0  0.000000 -1.210622 -0.359998 -1.259082
1  0.044721 -0.851296 -0.304116 -1.090161
2  0.089443 -0.959094 -0.218856 -1.443087
3  0.134164 -1.007004 -0.147195 -0.885077
4  0.178885 -0.942355 -0.266126 -0.815747

In [37]:
df = df.rename(columns=str.lower)

print(df.columns)

Index(['time', 'unnamed: 1', 'unnamed: 2', 'unnamed: 3'], dtype='object')

In [30]:
df.head()

       time      ch.1      ch.2      ch.3
0  0.000000 -1.210622 -0.359998 -1.259082
1  0.044721 -0.851296 -0.304116 -1.090161
2  0.089443 -0.959094 -0.218856 -1.443087
3  0.134164 -1.007004 -0.147195 -0.885077
4  0.178885 -0.942355 -0.266126 -0.815747

In [31]:
df.to_csv('none-4831.csv', index=False)